/* content on next page is hidden by default… */
[data-view="hidden-results"], .show-results
{
	visibility: unset !important;
}
/* filter list is by default expanded */
ul.filter-option li
{
	display: none;
}
ul.filter-option li:first-child,
ul.filter-option:hover li
{
	display: unset;
}
/* have the main content be slightly wider */
.column--main__content, .column--sidebar
{
	max-width: unset;
}
.column--main__content, .column--left
{
	width: unset;
}
div.columns
{
	margin: auto;
}
